body{
    background-color:#FFFFFF;
}
*{
    margin-top: 20px;
}
#pass{
    margin-top: 20px;
    margin-left: 1.86%;
}
#email{
    margin-left: 9.4%
}
#button2{
    margin-left: 20px;
}
#button1{
    margin-left: 25%;
}
    
fieldset{
    margin-left: 35%;
    box-shadow: 10px 3px 15px royalblue;
    margin-right: 40%;
    margin-top: 10%;
}
